.checkoutContainer{
	/* display: flex;
	flex-flow: column;
	font-size: 1.5em; */

}

.container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: 600px;

}

.content {
	display: inline;
	/* align-self: left; */
}

h2{
	font-size: 1em;
}

.sml-img{
	height: 50px;
}
