.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(40, 26, 101);
}

form.movie-search-form {
    margin-top: 50px;
    margin-bottom: 10px;
}
input.btn {
    margin-left: 10px;
}
label.search-title {
    margin-right: 10px;
}